.test{
    background: url(../../imgs/index/section-bg-5.jpg);
    background-size: cover;
    padding-top: 6%;
    padding-bottom: 5%;
    .nisi{
        font-size: 14px;
        width: 38%;
        margin: 0 auto;
    }
    .Thomas{
        font-size: 16px;
    }
}